body {
    text-align: center;
    /* I chose a random font, pls change */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#promptForm {
    padding-top:100px;
    background-color: #F1F8F8;
    min-height: 400px;
}

#responseSection {
    padding-top:100px;
    background-color: #162521;
    color: white;
    min-height: 400px;
}

#prompt-input {
    min-width: 50%;
    min-height: 50%;
}