<!DOCTYPE html>
<html lang="en">
<head>
    <title>CS 276 Study</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/styles.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid">
        <br>
        <div class="top-padding text-center">
            <h3><span class="highlighter-baseline">Tool 2</span></h3>
        </div>
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>What would you like to learn?</h1><br>
                <form action="/baseline" method="POST" class="form-inline">
                    <input type="text" class="form-control" id="prompt" name="prompt" placeholder="How to use loops, creating variables, traversing an array, etc.">
                    <button type="submit" class="btn btn-go"><i class="fa fa-play go-icon"></i></button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
</html>